<div class="container">

    <div class="row">
        <div class="col-sm-8 col-sm-offset-2 text-center">
            <form>
                <div class="form-group">
                    <label>Novo Ranker</label>
                    <input type="text" class="form-control input-lg text-center" ng-model="newRanker.name">
                </div>

                <button type="button" class="btn btn-primary btn-lg" ng-click="addRanker(newRanker)">Adicionar ranker</button>
            </form>
        </div>
    </div>

</div>